[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
flask = "*"
flask_sqlalchemy = "*"
flask_jwt_extended = "*"
flask_api = "*"
flask-cors = "*"
gunicorn = "*"
psycopg2 = "*"
pydantic = "*"
python-dotenv = "*"
SQLAlchemy = "*"
sqlalchemy_json = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
pytest-factoryboy = "*"
pre-commit = "*"


[requires]
python_version = "3.10"


[scripts]
test = "pytest ."
precommit = "pre-commit run --all-files"
