<!DOCTYPE html>
<html>
<head>
  <title>Tic Tac Toe</title>
</head>
<body>
  <script src="{{ url_for('static', filename='board_before_load.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <div>
        <h1>Tic Tac Toe</h1>
	    <div class="container">
		    <div class="board">
            <div class="cell" data-row="1" data-col="1"></div>
	        <div class="cell" data-row="1" data-col="2"></div>
	        <div class="cell" data-row="1" data-col="3"></div>
			<div class="cell" data-row="2" data-col="1"></div>
	        <div class="cell" data-row="2" data-col="2"></div>
			<div class="cell" data-row="2" data-col="3"></div>
	        <div class="cell" data-row="3" data-col="1"></div>
			<div class="cell" data-row="3" data-col="2"></div>
	        <div class="cell" data-row="3" data-col="3"></div>
        </div>
	    </div>
     
	    <div class="credits-container">
	      <span class="credits"></span>
	    </div>
	    <div class="user-info-container">
		    <div class="sing-container">
			    <span>Your sign: </span>
				    <span class="user-sign">X</span>
		    </div>
		</div>
	    <button class="status-button hidden"></button>
	    <button class="no-winner hidden" disabled>No winner</button>
	    <button class="new-game-button hidden">Start new game?</button>
    </div>
  
    <div class="container" style="margin-top: 10rem; display: flex; flex-direction: column; align-items: center">
	    <div class="scores-columns">
		    <div>Date</div>
		    <div>Player</div>
		    <div>Score</div>
		    <div>Time played</div>
	    </div>
	    <div class="scores"></div>
    </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
